html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1;
}
.firstpara{
    border-bottom: 1px dashed;
    width:73%;
}
.aboutplan{
    width: 40%;
    padding: 12px; 
    border-bottom: 1px dashed;
}

.aboutworking {
    width: 40%;
    padding: 10px; 
    border-bottom: 1px dashed;
}

.workplace {
    width: 40%;
    padding: 10px; 
    border-bottom: 1px dashed;
}
.aboutmeeting {
    width: 40%;
    padding: 10px; 
    border-bottom: 1px dashed;
}

.container1 {
    display: flex;

}
.container2 {
    display: flex;
}

section {
    margin-left: 24%;
}

p {
   display: inline-block; 
   justify-content: center;
   padding: 15px;
 

}

.button1 {
    border-radius: 20px;
    border-color: black;
    background-color: white;
    width: 25%;
    height: 13%;
    padding: 10px;
}

.button2 {
    border-radius: 20px;
    border-color: black;
    background-color: white;
    width: 25%;
    height: 13%;
    padding: 10px;
}

.button3 {
    border-radius: 20px;
    border-color: black;
    background-color: white;
    width: 25%;
    height: 13%;
    padding: 10px;
}
.button4 {
    border-radius: 20px;
    border-color: black;
    background-color: white;
    width: 25%;
    height: 13%;
    padding: 10px;
}

ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
* {
    box-sizing: border-box;
}
.headlinks{
    display: flex;
    color: black;
    justify-content: center;
    margin-bottom:5rem;

}
.headlinks a {
    text-decoration: none;
    color: black; 
    margin-right: 4.8rem;
}
.headlinks img {
    margin-right: 1.9rem;
}
.firstpic {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.worktogether{
     padding: 10px;
}
footer {
    width: 65%;
    background: black;
    margin-left: 20rem;
    padding: 5px;
    }

footer nav {
    width: 65%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 2%;
    font-size: 14px;
    margin-right: 3.9rem;
}

footer nav a {
    color: white;
    text-decoration: none;